.cont {
	width: 440px;
}

.vertical-center {
	min-height: 100%; /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}

#imgLogin {
	width: 20px;
	height: auto;
}

#imgLoginTop {
	margin-top: 30px;
	margin-bottom: 20px;
}

#btnLogin {
	width: 92.5%;
	height: 40px;
	margin-bottom: 30px;
}

#frmLogin {
	margin-top: 5%;
}

#bdy {
	background-color: #f8f8f8;
}

#msgErrorLogin {
	width: 500px;
	text-align: left;
	margin-top: 15%;
}

#errorLogged {
	width: 90%;
	margin-top: 21%;
}

#rmber {
	padding-right: 183px;
	margin-bottom: 10px;
}
#ctnrprincipal{
	border-style:solid;
	border-width: 1px;
	border-radius: 8px;
	border-color: #009ada;
}